@import url(http://cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/nanumbarungothic.css);

body {
	font-family: 'Nanum Barun Gothic', sans-serif;
}

a {
	text-decoration: none;
}

#indexBg {
	background-color: #1A1D2F;
}

#middleDiv {
	background-color: #1A1D2F;
	/*
	position:absolute;
	width:500px;
	height:450px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	*/
	text-align: center;
	line-height: 25px;
	color: white;
}

form span {
	position: relative;
}

em {
	display:none;
	position: absolute;
	width: 260px;
	left:0;
	top:11px;
	font-size: 10px;
	color: #A6A6A6;
}

em.error {
	color: red;
}

input.login {
	width: 100%;
	padding: 5px;
	border-width:0px;
	border-radius: 3px;
}

.join {
	font-family: 'Nanum Barun Gothic', sans-serif;
	background: rgba(255,255,255,0);
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	border-bottom: 1px dashed white;
	padding: 5px;
}


input.error {
	border-bottom: 1px dashed red;
}

.button {
	position:absolute;
	left: 0;
	right: 0;
	margin: auto;
	width: 400px;
	background: #5E7FB6;
	border-radius:10px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:15px;
	padding-right:15px;
	font-size: 10pt;
	color: white;
}

#loginUserDetail {
	background-color:white;
	position: absolute;
	right: 0px;
	width: 250px;
	height: 125px;
	border: 1px solid black;
	padding: 5px;
	z-index: 99;
}

#loginUserDetail a:link {
	color: #8C8C8C;
}

.smallLogoImg {
	margin: 10px;
}

.logoImg {
	width: 100px;
}

.smallIcon {
	width: 5%;
}

.navbarCustom {
	min-height:75px;
	padding-left: 190px;
	padding-right: 210px;
	border:1px solid transparent;
	/*background: transparent;*/
}

.navbarCustom a {
	color: black;
	
}

.navbarCenter {
	float: left;
	left: 50%;
}

.divisionMargin {
	margin-top: 20px;
}

#startBtn {
	background-color: #5E7FB6;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 3px;
}

.contentDiv table {
	color: #E6E6E6;
	margin-bottom: 100px;
}

.contentDiv table a {
	color: #E6E6E6;
}

.contentDiv table th {
	text-align: right;
	height: 50px;
	padding-right: 10px;
}

.contentDiv table table td {
	border: 1px solid #E6E6E6;
	height: 100px;
}

header table {
	width: 250px;
}

header td {
	font-size: 10px;
	padding: 5px;
}

header td p {
	color: white;
}
	
h2 a:link {
	color: white;
}

h2 a:visited {
	color: white;
}

.idView a:link{
	color: black;
	display:block;
	margin: 5px;
}

img {
	vertical-align: middle;
}

.menu {
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(../images/menu-alt-512.png) left center no-repeat;
	background-size: cover;
	vertical-align: middle;
}

.header-content {
	background-color: #E6E6E6;
	position:relative;
	width:100%;
	text-align:center;
}

.h p {
	font-size: 13px;
}

.h a {
	color: white;
}

.header-content-inner2 {
	padding-right: 15px;
	padding-bottom: 15px;
	text-align: right;
}

hr {
	border-color: red;
	border-width: 3px;
	max-width: 50px;
}

.divCenter {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
	border: 1px solid #E6E6E6;
}

/*
.navbar-center {
	float: right; 
	position: relative; 
	left: -25%; 
}
*/